.downloadApp{
    grid-column: 2/-1;
    grid-row: 11/12;
    padding: 8em 0;

    @media only screen and  (max-width: $bp-medium) {
        grid-column: 2/14;
    }


    &__container{
        display: flex;
    }

    &__text{
        max-width: 80%;
    }

    &__downloadImg{
        display: inline-block;
        max-width: 185px;
        animation-duration: .75s;
        animation-direction: alternate-reverse;
        animation-timing-function: ease-in-out;
        animation-play-state: paused;
        animation-name: popUp;
        animation-iteration-count: 5;
        transition: transform 1s ease-in-out;
        cursor: pointer;

        @media only screen and  (max-width: $bp-small) {
            display: block;
        }


        &:not(:last-child){
            margin-right: 3em;

            @media only screen and  (max-width: $bp-small) {
                margin-bottom: 3em;
                margin-right: 0;
            }
    
            
        }
    }

    &__imgBox{
        z-index: 99;
        min-width: 50%;
        max-width: 100%;

        @media only screen and  (max-width: $bp-large) {
            display: none;
        }

        img{
            min-width: 95%;
            max-width: 100%;
            margin-bottom: -14.5em;
        }
    }
}

@keyframes popUp{
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
    
}