.designedBy{
    grid-column: 2/10;
    grid-row: 5/6;
    padding: 8em 0;

    &__container{
        display: flex;
        justify-content: center;

        @media only screen and  (max-width: $bp-large) {
            justify-content: initial;    
        }
    }

    &__text--box{
        align-self: center;
        
        @media only screen and  (max-width: $bp-large) {
            margin-left: 0;
        }

    }

    .heading-2{
        max-width: 10em;
    }
    
    .paragraph{
        max-width: 25em;
    }

    .btn{
        display: inline-block;
    }

    &__img--box{
        justify-self: flex-start;

        img{
            max-width: 100%;    
            min-width: 40em;
        }
        
        @media only screen and  (max-width: $bp-large) {
            display: none;
        }  
    }
}