.trustedBy{
    grid-column: 2/10;
    grid-row: 2/3;

    display: flex;
    justify-content: center;
    padding: 8em 0;

    @media only screen and (max-width: $bp-large){
        padding: 8em;
    }    


    &__container{
        width: 100%;
    }
    
    .paragraph{
        text-align: center;
        color: $color-grey-dark-1;
    }

    &__imgBox{
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        @media only screen and (max-width: $bp-largest){
            img{
                &:not(:last-child){
                    margin-right: 5em;
                }
            }
        }    

        @media only screen and (max-width: $bp-large){
            margin: 0 auto;
            margin-top: 5em;
            max-width: 90%;
            
            img{
                max-width: 20%;
            }
        }    

        @media only screen and  (max-width: $bp-small) {
            flex-direction: column;

            img{
                max-width: 80%;
                &:not(:last-child){
                    margin-right: 0;
                    margin-bottom: 5em;
                }
            }
        }



    }
}