.btn{
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    background-color: $color-primary;
    padding: 1.7rem 4.5rem;
    padding: .8em 2.8em;
    border-radius: 50px;
    display: inline-block;
}
.mt-large-10{
    margin-top: 10rem;
}
.mr-large-10{
    margin-right: 10rem;
}
.ml-large-10{
    margin-left: 10rem;
}
.mt-small-3{
    margin-top: 3rem;
}
.mt-small-5{
    margin-top: 5rem;
}

.ml-small-5{
    margin-left: 5rem;
}
.ml-small-3{
    margin-left: 3rem;
}
.mr-small-3{
    margin-right: 3rem;
}
.mb-small-5{
    margin-bottom: 5rem;
}
.mb-small-3{
    margin-bottom: 3rem !important;
}
.mb-large-10{
    margin-bottom: 10rem;
}
.pb-largest-20{
    padding-bottom: 20rem;
}
.pb-large-10{
    padding-bottom: 10rem;
}
.pt-largest-20{
    padding-top: 20rem;
}
.pt-large-10{
    padding-top: 10rem;
}
.pl-large-10{
    padding-left: 10rem;
}
.pr-large-10{
    padding-right: 10rem;
}
