@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  background-color: #fdfdfe;
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 87.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Poppins", sans-serif;
  color: #242f51; }

.container {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 1fr)) minmax(6rem, 1fr);
  grid-template-rows: minmax(min-content, 100vh) minmax(min-content, 10rem) minmax(min-content, 10rem) minmax(min-content, 7rem) minmax(min-content, 6rem) repeat(3, minmax(min-content, 11rem)) minmax(min-content, 9rem) minmax(min-content, 10rem) minmax(min-content, 4.5rem) minmax(min-content, 5.5rem); }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-columns: minmax(2rem, 1fr) repeat(8, minmax(min-content, 1fr)) minmax(2rem, 1fr); } }

a {
  cursor: pointer; }

.icon--box {
  align-self: center;
  border-radius: 50px;
  padding: 1rem; }
  .icon--box .icon {
    width: 60px; }

.card .paragraph {
  max-width: 100%; }

.card .heading-3 {
  margin: 1rem 0; }

.card .icon--box {
  width: 8em;
  margin-bottom: 2rem; }

.pinkColor {
  color: #f55767; }

.blueColor {
  color: #2563ff; }

.greenColor {
  color: #40975f; }

.pinkBackground {
  background-color: #ffecef; }

.blueBackground {
  background-color: #f4f4ff; }

.greenBackground {
  background-color: #e4ffee; }

.yellowBackground {
  background-color: #fff6d3; }

.purpleBackground {
  background-color: #f4f4ff; }

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px); }
  20%, 80% {
    transform: translateX(2px); }
  30%, 50%, 70% {
    transform: translateX(-4px); }
  40%, 60% {
    transform: translateX(4px); } }

.errorShake {
  animation: shake 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both; }

.btn {
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  background-color: #2500f9;
  padding: 1.7rem 4.5rem;
  padding: .8em 2.8em;
  border-radius: 50px;
  box-shadow: 0 2px 8px -1px rgba(37, 0, 249, 0.32);
  transition: transform .5s ease, box-shadow .5s ease;
  position: relative;
  overflow: hidden;
  vertical-align: middle; }
  .btn:after {
    content: '';
    width: 50px;
    height: 195px;
    background: rgba(255, 255, 255, 0.2);
    display: inline-block;
    position: absolute;
    top: -50px;
    left: -100px;
    transform: rotate(45deg);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1; }
  .btn:hover {
    box-shadow: 0 4px 20px -2px rgba(37, 0, 249, 0.5);
    transform: translateY(-10px); }
    .btn:hover:after {
      left: 120%;
      transition: all 1s cubic-bezier(0.19, 1, 0.22, 1); }

.mt-large-10 {
  margin-top: 10rem; }

.mr-large-10 {
  margin-right: 10rem; }

.ml-large-10 {
  margin-left: 10rem; }

.mt-small-3 {
  margin-top: 3rem; }

.mt-small-5 {
  margin-top: 5rem; }

.ml-small-5 {
  margin-left: 5rem; }

.ml-small-3 {
  margin-left: 3rem; }

.mr-small-3 {
  margin-right: 3rem; }

.mb-small-5 {
  margin-bottom: 5rem; }

.mb-small-3 {
  margin-bottom: 3rem !important; }

.mb-large-10 {
  margin-bottom: 10rem; }

.pb-largest-20 {
  padding-bottom: 20rem; }

.pb-large-10 {
  padding-bottom: 10rem; }

.pt-largest-20 {
  padding-top: 20rem; }

.pt-large-10 {
  padding-top: 10rem; }

.pl-large-10 {
  padding-left: 10rem; }

.pr-large-10 {
  padding-right: 10rem; }

.downloadApp {
  grid-column: 2/-1;
  grid-row: 11/12;
  padding: 8em 0; }
  @media only screen and (max-width: 50em) {
    .downloadApp {
      grid-column: 2/14; } }
  .downloadApp__container {
    display: flex; }
  .downloadApp__text {
    max-width: 80%; }
  .downloadApp__downloadImg {
    display: inline-block;
    max-width: 185px;
    animation-duration: .75s;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
    animation-name: popUp;
    animation-iteration-count: 5;
    transition: transform 1s ease-in-out;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .downloadApp__downloadImg {
        display: block; } }
    .downloadApp__downloadImg:not(:last-child) {
      margin-right: 3em; }
      @media only screen and (max-width: 37.5em) {
        .downloadApp__downloadImg:not(:last-child) {
          margin-bottom: 3em;
          margin-right: 0; } }
  .downloadApp__imgBox {
    z-index: 99;
    min-width: 50%;
    max-width: 100%; }
    @media only screen and (max-width: 62.5em) {
      .downloadApp__imgBox {
        display: none; } }
    .downloadApp__imgBox img {
      min-width: 95%;
      max-width: 100%;
      margin-bottom: -14.5em; }

@keyframes popUp {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.05); } }

.designedBy {
  grid-column: 2/10;
  grid-row: 5/6;
  padding: 8em 0; }
  .designedBy__container {
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 62.5em) {
      .designedBy__container {
        justify-content: initial; } }
  .designedBy__text--box {
    align-self: center; }
    @media only screen and (max-width: 62.5em) {
      .designedBy__text--box {
        margin-left: 0; } }
  .designedBy .heading-2 {
    max-width: 10em; }
  .designedBy .paragraph {
    max-width: 25em; }
  .designedBy .btn {
    display: inline-block; }
  .designedBy__img--box {
    justify-self: flex-start; }
    .designedBy__img--box img {
      max-width: 100%;
      min-width: 40em; }
    @media only screen and (max-width: 62.5em) {
      .designedBy__img--box {
        display: none; } }

.faq {
  grid-column: 2/10;
  grid-row: 10/11; }
  .faq__container {
    padding: 8em 0; }
  .faq__text {
    text-align: center; }
    .faq__text p {
      max-width: 40em;
      margin: 0 auto;
      margin-bottom: 3em; }
  .faq__content {
    max-width: 80%;
    margin: 0 auto; }
    @media only screen and (max-width: 62.5em) {
      .faq__content {
        max-width: 100%; } }
  .faq__card {
    padding: 3em 5em;
    background-color: #f5f7fa;
    max-height: 10em;
    overflow: hidden;
    padding-bottom: 0;
    transition: padding-bottom 0.8s cubic-bezier(0.69, 1.59, 0.8, 0.93); }
    .faq__card:not(:last-child) {
      margin-bottom: 1em; }
    .faq__card:hover {
      cursor: pointer; }
    .faq__card .answer {
      display: block;
      font-size: 2rem;
      position: relative;
      left: -50em;
      color: #616368;
      font-weight: 500;
      opacity: 0;
      -webkit-user-select: none;
      /* Safari */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* IE10+/Edge */
      user-select: none;
      /* Standard */ }
  .faq .activeFAQ {
    padding-bottom: 23em; }
    .faq .activeFAQ .answer {
      opacity: 1;
      left: 0;
      -webkit-user-select: initial;
      /* Safari */
      -moz-user-select: initial;
      /* Firefox */
      -ms-user-select: initial;
      /* IE10+/Edge */
      user-select: initial;
      /* Standard */
      animation-name: focus-in-expand-top;
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: none; }
    .faq .activeFAQ:hover {
      cursor: initial; }

@keyframes focus-in-expand-top {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    filter: blur(0);
    opacity: 1; } }

.features {
  grid-column: 2/10;
  grid-row: 3/4;
  padding: 8em 0; }
  .features__container {
    display: flex;
    justify-content: center; }
    .features__container .heading-2 {
      max-width: 10em; }
  @media only screen and (max-width: 62.5em) {
    .features__box {
      padding-left: 0;
      width: 100%; } }
  @media only screen and (max-width: 62.5em) {
    .features__box--content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      grid-gap: 4rem;
      gap: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .features__box--content {
      justify-items: center; } }
  .features__box--text .paragraph {
    max-width: 30em;
    margin-top: .5em; }
  .features__card {
    display: flex;
    max-width: 40em; }
    @media only screen and (max-width: 62.5em) {
      .features__card {
        display: block; } }
    @media only screen and (max-width: 37.5em) {
      .features__card {
        text-align: center; } }
  @media only screen and (max-width: 62.5em) {
    .features__icon--box {
      max-width: 8em; } }
  @media only screen and (max-width: 37.5em) {
    .features__icon--box {
      margin: 0 auto; } }
  .features__imgBox {
    align-self: center;
    background-image: url("../img/featuresBackground.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain; }
    @media only screen and (max-width: 62.5em) {
      .features__imgBox {
        display: none; } }
    .features__imgBox img {
      max-width: 100%; }
  .features i {
    font-size: 6rem; }

.footer {
  grid-column: 1/-1;
  grid-row: 12/13;
  display: grid;
  grid-template-columns: minmax(4rem, 1fr) repeat(12, minmax(min-content, 1fr)) minmax(6rem, 1fr);
  justify-items: center;
  background-color: #09142e;
  padding: 15em 0; }
  .footer__container {
    grid-column: 2/14;
    text-align: center; }
    .footer__container .logo {
      font-size: 4rem;
      color: white; }
  .footer__ul {
    list-style: none; }
  .footer__li {
    display: inline-block; }
    .footer__li:not(:last-child) {
      margin-right: 3em; }
    .footer__li a {
      font-size: 2.2rem;
      color: white;
      text-decoration: none; }
  .footer__link {
    border-bottom: 2px solid transparent;
    transition: border .5s; }
    .footer__link:hover {
      border-bottom: 2px solid white; }
  .footer__socials i {
    font-size: 4rem;
    color: #273043;
    transition: color .5s; }
    .footer__socials i:hover {
      color: white; }
  .footer__copy {
    font-size: 1.5rem;
    font-weight: 600;
    color: #616368; }
    .footer__copy:hover {
      cursor: pointer; }
      .footer__copy:hover span {
        color: white; }
    .footer__copy span {
      transition: color .5s; }

.hero {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: minmax(4rem, 1fr) repeat(12, minmax(min-content, 1fr)) minmax(6rem, 1fr);
  overflow: hidden;
  background-image: url("../img/backgroundParticles.png"), url("../img/backgroundImage.png");
  background-repeat: no-repeat;
  background-position: bottom, bottom;
  background-size: cover, contain;
  position: relative; }
  .hero__container {
    grid-column: 2/14; }
  .hero .box, .hero .iconMenu {
    display: none; }
  .hero__nav {
    display: flex;
    justify-content: space-between; }
    .hero__nav .nav__ul {
      list-style-type: none; }
      @media only screen and (max-width: 62.5em) {
        .hero__nav .nav__ul {
          background-color: #fdfdfe;
          width: 100%;
          height: 100%;
          padding: 10em;
          padding-top: 20em;
          justify-items: center;
          align-items: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(100%, -50%);
          z-index: 1;
          transition: transform 1s cubic-bezier(0.53, -0.25, 0.19, 1.31); } }
    .hero__nav .nav__li {
      display: inline-block;
      vertical-align: middle; }
      @media only screen and (max-width: 62.5em) {
        .hero__nav .nav__li {
          display: block;
          text-align: center; }
          .hero__nav .nav__li .btn {
            display: none; } }
    .hero__nav .nav__link {
      font-size: 2.2rem;
      font-weight: 500;
      color: #242f51;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      transition: border .5s; }
      .hero__nav .nav__link {
        margin-right: 1.5em; }
        @media only screen and (max-width: 62.5em) {
          .hero__nav .nav__link {
            display: inline-block;
            margin-right: 0;
            margin-bottom: 10vh; } }
      .hero__nav .nav__link:hover {
        border-bottom: 2px solid #242f51; }
  .hero__content {
    display: flex;
    justify-content: space-between; }
    .hero__content--text {
      align-self: center; }
      @media only screen and (max-width: 87.5em) {
        .hero__content--text {
          margin-top: 20em;
          padding-bottom: 5em; } }
    .hero__content .heading-1 {
      max-width: 12em; }
    .hero__content .heading-4 {
      max-width: 30em; }
    .hero__content--imgBox {
      will-change: transform; }
      .hero__content--imgBox img {
        max-width: 100%; }
      @media only screen and (max-width: 87.5em) {
        .hero__content--imgBox img {
          display: none; } }
  .hero--badge {
    display: flex;
    align-items: center;
    margin-bottom: 1em; }
    .hero--badge-orangeIcon {
      display: inline-block;
      position: relative;
      font-size: 3.2rem;
      border-radius: 50px;
      width: 1.25em;
      height: 1.25em;
      padding: 0.03125em;
      background-color: #feaa25; }
      .hero--badge-orangeIcon i {
        color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
    .hero--badge-text {
      display: inline-block;
      font-size: 2rem;
      font-weight: 500;
      vertical-align: middle;
      background-color: #e2eaed;
      padding: .5rem 3rem;
      padding-left: 2.4em;
      margin-left: -2em;
      border-radius: 50px; }
      @media only screen and (max-width: 400px) {
        .hero--badge-text {
          font-size: 1.8rem; } }
  .hero .parllaxBackgroundImage {
    display: block;
    position: absolute;
    height: 100vh;
    bottom: -15em;
    object-fit: cover;
    pointer-events: none;
    will-change: transform; }
  @media only screen and (max-width: 37.5em) {
    .hero .highlight {
      display: block;
      margin-left: .5em;
      margin-top: 1.5em; } }
  @media only screen and (max-width: 62.5em) {
    .hero .box {
      display: inline-block;
      width: 65px;
      height: 65px;
      top: -10rem;
      z-index: 2; }
    .hero .iconMenu {
      display: block;
      stroke: black;
      position: relative;
      top: -1.4rem;
      fill: none;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-linejoin: round;
      cursor: pointer; } }

.plans {
  grid-column: 1/-1;
  grid-row: 8/9;
  display: grid;
  grid-template-columns: minmax(4rem, 1fr) repeat(12, minmax(min-content, 1fr)) minmax(6rem, 1fr);
  padding: 8em 0;
  position: relative;
  overflow-x: hidden; }
  @media only screen and (max-width: 37.5em) {
    .plans {
      grid-column: 2/10; } }
  .plans::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 1px;
    background-color: #e5e6e5;
    z-index: 1; }
  .plans__container {
    grid-column: 2/14; }
    @media only screen and (max-width: 37.5em) {
      .plans__container {
        grid-column: 1/-1; } }
  .plans__text {
    text-align: center; }
    .plans__text .heading-2 {
      max-width: 17em;
      margin: 0 auto; }
    .plans__text .paragraph {
      max-width: 40em;
      margin: 0 auto; }
  .plans__switchBox {
    text-align: center; }
    .plans__switchBox .plans__switch {
      display: inline-block;
      border: solid 2px #ebebeb;
      border-radius: 50px;
      padding: 5px; }
      .plans__switchBox .plans__switch p {
        cursor: pointer;
        display: inline-block;
        padding: 0.772em 2.045em;
        font-weight: 600;
        border-radius: 50px; }
        @media only screen and (max-width: 400px) {
          .plans__switchBox .plans__switch p {
            font-size: 2rem; } }
      .plans__switchBox .plans__switch .active {
        background-color: #2500f9;
        color: white; }
  .plans__cardBox {
    perspective: 2000px;
    display: flex;
    justify-content: center; }
    .plans__cardBox .plans__card {
      display: block;
      text-align: center;
      border-radius: 9px;
      border: solid 2px #ebebeb; }
      .plans__cardBox .plans__card:not(:last-child) {
        margin-right: 5em; }
        @media only screen and (max-width: 50em) {
          .plans__cardBox .plans__card:not(:last-child) {
            margin-right: 0;
            margin-bottom: 10em; } }
      .plans__cardBox .plans__card--important {
        transform-style: preserve-3d;
        box-shadow: 0.5em 10em 6.2em 0px rgba(144, 163, 177, 0.18);
        align-self: flex-start;
        border: initial; }
      .plans__cardBox .plans__card--upper, .plans__cardBox .plans__card--bottom {
        padding: 2em 6em; }
      .plans__cardBox .plans__card--upper {
        background-image: linear-gradient(to top, #f4f7f9 80%, transparent);
        padding-bottom: 3.5em; }
      .plans__cardBox .plans__card--bottom {
        padding-top: 4em; }
      .plans__cardBox .plans__card--price {
        display: inline-block;
        font-size: 8rem;
        font-weight: 600;
        margin-bottom: .1em;
        vertical-align: center;
        transition: all .75s ease-out; }
      .plans__cardBox .plans__card--date {
        font-size: 2.4rem;
        color: #999ca5;
        transition: all .75s ease-out; }
      .plans__cardBox .plans__card--mainText {
        font-size: 2.6rem;
        font-weight: 600;
        color: #242f51;
        transition: all .75s ease-out; }
      .plans__cardBox .plans__card--subText {
        font-size: 2.2rem;
        font-weight: 500;
        color: #999ca5;
        transition: all .75s ease-out; }
      .plans__cardBox .plans__card--features {
        list-style: none;
        font-size: 2.2rem;
        color: #999ca5;
        padding-bottom: 1em;
        transition: all .75s ease-out; }
        .plans__cardBox .plans__card--features li {
          margin-bottom: 1em; }
      .plans__cardBox .plans__card a {
        display: block; }
      .plans__cardBox .plans__card .highlight {
        font-size: 2.2rem;
        margin-top: 1.5em; }
    @media only screen and (max-width: 50em) {
      .plans__cardBox {
        flex-direction: column; }
        .plans__cardBox .plans__card {
          align-self: center; } }

.smartJackpot {
  grid-column: 2/10;
  grid-row: 4/5;
  padding: 8em 0; }
  .smartJackpot__textContainer {
    display: flex; }
    @media only screen and (max-width: 62.5em) {
      .smartJackpot__textContainer {
        display: block; } }
  .smartJackpot__mainText {
    max-width: 55em;
    position: relative; }
    @media only screen and (max-width: 62.5em) {
      .smartJackpot__mainText {
        text-align: center;
        max-width: 90em;
        margin: 0 auto;
        margin-bottom: 3em; } }
    .smartJackpot__mainText::after {
      content: '';
      display: inline-block;
      width: 2px;
      height: 100%;
      position: absolute;
      top: 0;
      right: -10em;
      background-color: #b9b9b8; }
      @media only screen and (max-width: 62.5em) {
        .smartJackpot__mainText::after {
          display: none; } }
  .smartJackpot__subText {
    align-self: center; }
    @media only screen and (max-width: 62.5em) {
      .smartJackpot__subText {
        text-align: center;
        margin: 0 auto; } }
  .smartJackpot__contentContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
    grid-gap: 5rem;
    gap: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .smartJackpot__contentContainer {
        text-align: center;
        justify-items: center; }
        .smartJackpot__contentContainer .smartJackpot__card {
          margin-right: 0; } }
  .smartJackpot__icon--box {
    max-width: 8em;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .smartJackpot__icon--box {
        margin: 0 auto;
        margin-bottom: 1em; } }
  .smartJackpot .heading-3 {
    margin-bottom: .5em; }
  .smartJackpot i {
    font-size: 6rem; }

.testimonials {
  grid-column: 1/-1;
  grid-row: 9/10;
  display: grid;
  grid-template-columns: minmax(4rem, 1fr) repeat(12, minmax(min-content, 1fr)) minmax(6rem, 1fr);
  padding: 8em 0; }
  @media only screen and (max-width: 50em) {
    .testimonials {
      grid-column: 2/14; } }
  @media only screen and (max-width: 37.5em) {
    .testimonials {
      grid-column: 2/10; } }
  .testimonials__container {
    grid-column: 1/14;
    display: flex;
    justify-content: center;
    align-content: center; }
    @media only screen and (max-width: 37.5em) {
      .testimonials__container {
        grid-column: 1/-1; } }
  .testimonials__imgBox {
    align-self: center; }
    .testimonials__imgBox img {
      max-width: 100%; }
    @media only screen and (max-width: 62.5em) {
      .testimonials__imgBox {
        display: none; } }
  .testimonials__text .heading-2 {
    max-width: 13em; }
  .testimonials__text .paragraph {
    max-width: 35em; }
  .testimonials__rating {
    font-size: 3rem;
    color: #ffcc00;
    margin-bottom: .2em; }
  .testimonials__quoteBox .paragraph {
    max-width: 35em; }
  .testimonials__quoteBox .testimonials__personBox {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 37.5em) {
      .testimonials__quoteBox .testimonials__personBox {
        flex-direction: column; } }
  .testimonials__quoteBox .testimonials__personInfo {
    display: flex; }
  .testimonials__quoteBox .testimonials__personText {
    align-self: center; }
  .testimonials__quoteBox .testimonials__personName {
    font-size: 2.4rem;
    font-weight: 600; }
  .testimonials__quoteBox .testimonials__personJob {
    font-size: 2rem;
    font-weight: 500;
    color: #616368; }
  .testimonials__arrowsBox {
    align-self: center;
    position: relative; }
    @media only screen and (max-width: 62.5em) {
      .testimonials__arrowsBox {
        margin-top: 3em; } }
    .testimonials__arrowsBox i {
      font-size: 3rem;
      color: #2500f9;
      border: solid 2px #eff3f8;
      padding: .3em;
      border-radius: 50px;
      background-color: #eff3f8;
      position: relative;
      cursor: pointer; }
    .testimonials__arrowsBox .inactive {
      color: #eff3f8;
      background-color: transparent; }
    .testimonials__arrowsBox .ri-arrow-left-line {
      margin-right: .5em; }
      .testimonials__arrowsBox .ri-arrow-left-line::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: .9em;
        position: absolute;
        right: -.4em;
        transform: translateX(-100%);
        background-color: #e7e7e7;
        cursor: initial; }

.trustedBy {
  grid-column: 2/10;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  padding: 8em 0; }
  @media only screen and (max-width: 62.5em) {
    .trustedBy {
      padding: 8em; } }
  .trustedBy__container {
    width: 100%; }
  .trustedBy .paragraph {
    text-align: center;
    color: #242f51; }
  .trustedBy__imgBox {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    @media only screen and (max-width: 87.5em) {
      .trustedBy__imgBox img:not(:last-child) {
        margin-right: 5em; } }
    @media only screen and (max-width: 62.5em) {
      .trustedBy__imgBox {
        margin: 0 auto;
        margin-top: 5em;
        max-width: 90%; }
        .trustedBy__imgBox img {
          max-width: 20%; } }
    @media only screen and (max-width: 37.5em) {
      .trustedBy__imgBox {
        flex-direction: column; }
        .trustedBy__imgBox img {
          max-width: 80%; }
          .trustedBy__imgBox img:not(:last-child) {
            margin-right: 0;
            margin-bottom: 5em; } }

.ultimateFeatures {
  grid-column: 2/-1;
  grid-row: 7/8;
  display: grid;
  grid-template-columns: minmax(4rem, 1fr) repeat(12, minmax(min-content, 1fr)) minmax(6rem, 1fr);
  padding: 8em 0; }
  @media only screen and (max-width: 37.5em) {
    .ultimateFeatures {
      grid-column: 2/10; } }
  .ultimateFeatures__container {
    grid-column: 1/-1;
    background-image: url("../img/ultimateFeaturesBackground.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 70em 83em;
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .ultimateFeatures__container {
        background-image: none; } }
    .ultimateFeatures__container i {
      font-size: 6rem; }
  .ultimateFeatures .heading-2 {
    margin-bottom: .4em; }
  .ultimateFeatures__text {
    max-width: 70%;
    width: 100%; }
    @media only screen and (max-width: 62.5em) {
      .ultimateFeatures__text {
        max-width: 100%; } }
  .ultimateFeatures__textBox {
    max-width: 50em; }
  .ultimateFeatures__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
    grid-gap: 5rem;
    gap: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .ultimateFeatures__content {
        text-align: center; }
        .ultimateFeatures__content .icon--box {
          margin: 0 auto; } }
  .ultimateFeatures__imgBox {
    width: 100%;
    position: relative;
    overflow: hidden; }
    .ultimateFeatures__imgBox img {
      max-width: 100%; }
    @media only screen and (max-width: 62.5em) {
      .ultimateFeatures__imgBox {
        display: none; } }
  .ultimateFeatures .img--front {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10em;
    z-index: 99999; }
  .ultimateFeatures .img--back {
    position: absolute;
    top: 50%;
    transform-origin: bottom;
    transform: translateY(-50%) rotate(15deg);
    right: 5em;
    transition: transform 1s cubic-bezier(0.6, 0.01, 0, 1.61); }
  @media only screen and (max-width: 37.5em) {
    .ultimateFeatures .btn {
      text-align: center;
      width: 100%; } }

.whyOurApp {
  grid-column: 1/-1;
  grid-row: 6/7;
  padding: 8em 0;
  padding-top: 15em;
  position: relative;
  display: grid;
  grid-template-columns: minmax(4rem, 1fr) repeat(12, minmax(min-content, 1fr)) minmax(6rem, 1fr);
  justify-content: center;
  overflow-x: hidden; }
  @media only screen and (max-width: 37.5em) {
    .whyOurApp {
      grid-column: 2/10; } }
  .whyOurApp::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 9em;
    width: 100vw;
    height: 1px;
    background-color: #e5e6e5;
    z-index: 1; }
  .whyOurApp__container {
    grid-column: 2/14;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
    @media only screen and (max-width: 37.5em) {
      .whyOurApp__container {
        grid-column: 1/-1; } }
  .whyOurApp__text {
    text-align: center; }
  .whyOurApp .heading-2 {
    max-width: 60rem;
    margin: 0 auto;
    text-align: center; }
  .whyOurApp .paragraph {
    margin: 0 auto;
    max-width: 90rem; }
  .whyOurApp__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    justify-items: center;
    grid-gap: 8rem;
    gap: 8rem; }
    @media only screen and (max-width: 37.5em) {
      .whyOurApp__content {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); } }
  .whyOurApp__card {
    max-width: 40rem;
    text-align: center; }
    .whyOurApp__card .icon--box {
      margin: 0 auto; }
    .whyOurApp__card i {
      font-size: 6rem; }

.logo {
  font-size: 4rem; }
  .logo span {
    color: #fcae61; }

.heading-1 {
  font-size: 8rem;
  font-weight: 600;
  line-height: 10rem; }

.heading-2 {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 5.5rem; }

.heading-3 {
  font-size: 2.6rem;
  font-weight: 600; }

.heading-4 {
  font-size: 2.4rem;
  color: #616368;
  font-weight: 500; }

.paragraph {
  font-size: 2.2rem;
  color: #616368;
  font-weight: 500;
  line-height: 3rem; }

.highlight {
  display: inline-block;
  color: #2500f9;
  font-size: 2.2rem;
  text-decoration: none;
  font-weight: 500;
  vertical-align: middle;
  text-shadow: 0 2px 8px rgba(37, 0, 249, 0.12);
  transition: transform .5s ease, text-shadow .5s ease; }
  .highlight:hover {
    text-shadow: 0 4px 20px rgba(37, 0, 249, 0.35);
    transform: translateY(-5px); }
